h1{
    color: #6495ED;
    font-size:5em;
    text-align: center;
    font-family: serif;
  
}

body{

    text-align: center;
    margin: 2em 0em 2em 0em;

}


h2{
    color: rgb(255,255,255);
    background-color: #6495ED;
    padding: 0.5em 2em .5em 2em;
    font-family: sans-serif;


}

h3{

  color: #f5f5dc;  
  font-family: sans-serif;

}

ul{

    padding: 0;

}

li{
  
  list-style: none;

}
